<?xml version="1.0"?>
<!--
/**
 * Skash Routes
 *
 * @author  Michel Abdo <michel.f.abdo@gmail.com>
 * @license https://framework.zend.com/license  New BSD License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="skash" frontName="skash">
            <module name="Skash_SkashPayment" />
        </route>
    </router>
</config>
