<?xml version="1.0"?>
<!--
/**
 * Skash Config
 *
 * @author  Michel Abdo <michel.f.abdo@gmail.com>
 * @license https://framework.zend.com/license  New BSD License
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <skash>
                <active>0</active>
                <title>sKash Payment</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>Skash\SkashPayment\Model\Skash</model>
                <group>offline</group>
            </skash>
        </payment>
    </default>
</config>
